/* Fonts */
@font-face {
    font-family: "LouisGeorgeCafe";
    src: url(Louis_George_Cafe.ttf);
}

@font-face {
    font-family: "Timeless";
    src: url(Timeless.ttf);
}

img{
    pointer-events: none;
}

.gallery-item{
    padding-bottom: 1em;
}

.main{
    margin-top: 2em;
    margin-bottom: 2em;
}

.main > p{
    font-size: large;
}

body{
    font-family: "Timeless", Garamond, serif;
}

h1{
    text-align: center;
    font-family: "LouisGeorgeCafe", Helvetica, sans-serif;
    font-size: 300%;
}

h2{
    text-align: center;
    font-style: italic;
    font-family: "Timeless", Garamond, serif;
    font-style: italic;
}

.main-content{
    margin-bottom: 3em;
}