/* Fonts */
@font-face {
    font-family: "LouisGeorgeCafe";
    src: url(Louis_George_Cafe.ttf);
}

@font-face {
    font-family: "Timeless";
    src: url(Timeless.ttf);
}

/* Body */

body{
    display: grid;
    grid-template-areas:
        'header header header side'
        'main main main nav';
    /* gap: 10px; */
    font-family: "Timeless", Garamond, serif;
}
.mainbody{
    grid-area: main;
    height: 380px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    overflow-y: scroll;
}

img.id{
    width: 30%;
    float: right;
    padding-left: 30px;
}

span.details{
    text-decoration: underline;
}

th.links{
    width: 25%;
    text-align: center;
}

th.links > a{
    color: black;
    text-decoration: none;
}

/*Title*/
.header{
    grid-area: header;
    text-align: center;
    background-image: url("gradient_bg.jpg");
    background-repeat: repeat-x;
    background-position-y: bottom;
    background-size: contain;
    border-bottom: 3px black solid;
}

div.header h1{
    font-family: "LouisGeorgeCafe", Helvetica, sans-serif;
    font-size: 300%;
}

div.header h3{
    font-family: "Timeless", Garamond, serif;
    font-style: italic;    
}

.dummy{
    grid-area: side;
    border-left: 3px black solid;
}

/*Nav Bar*/
.nav{
    grid-area: nav;
    border-left: 3px black solid;
}

div.nav > ul {
    /* background-color: #aaaaaa; */
    margin: 0;
    padding: 0;
}

div.nav > ul > li{
    /* display:block; */
    list-style-type: none;
    padding: 15px 30px 0px 30px;
    height: 40px;
}

div.nav > ul > li > a{
    display: block;
    text-decoration: none;
    color: black;
}

div.nav > ul > li:hover{
    background-color: #00a3bb;
}

div.nav > ul > li > a:visited{
    color: black;
}